#Nosotros {
    padding: 7% 2% 2% 2%;
    background-color: rgb(255, 255, 255);
}

.somos {
    padding: 5% 2% 0.1% 2%;
    font-family: Roboto;
    font-size: 24px;
}

.qsomos {
    font-family: Roboto;
    font-size: 18px;
    margin: 1% 7% 3% 7%;
}