* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:wght@300&display=swap');




.header-container {
    background-color: rgb(178, 231, 187);
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 20px 0;
    z-index: 1;
}



.header {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.carousel{
    z-index: -1;
}


h1 {
    font-size: 40px;
    display: block;
}

h3 {
    padding: 15px;
}

p {
    padding: 20px;
}

.navbar {
    padding: 0px 20px;
    font-family: Roboto;
    font-size: 20px;
    color: black;
    background-color: rgb(178, 231, 187);
}

.dropdown-menu {
    background-color: rgb(178, 231, 187);
}



.productos {
    background-color: rgb(214, 216, 218);
    padding: 7% 2% 2% 2%;
    display: grid;
    grid-template-columns: 1fr auto;
    
}

.productos-in {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.productosdiatomid {
    background-color: rgb(214, 216, 218);
    width: 100%;    
}

.productos-indiatomid {
    padding: 7% 2% 2% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.nombre {
    color: black;
    font-family: Roboto;
    font-size: 18px;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}

.prod {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.productosnutrigea {
    background-color: rgb(214, 216, 218);
    display: grid;
}

.productos-innutrigea {
    padding: 7% 9% 2% 9%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.img{
    border-radius: 20px;
    border: 15px solid rgb(119, 190, 131);
    margin: 10px 40px;
}

.imglink:hover {
    transition: all 1s;
    transform: scale(1.1);
}


#Nosotros {
    padding: 7% 2% 2% 2%;
    background-color: rgb(255, 255, 255);
}

.somos {
    padding: 5% 2% 0.1% 2%;
    font-family: Roboto;
    font-size: 24px;
}

.qsomos {
    font-family: Roboto;
    font-size: 18px;
    margin: 1% 7% 3% 7%;
}



.footer-container {
    color: white;
    background-color: rgb(48, 48, 48);
    display: flex;
    justify-content: center;
    padding: 2%;
    font-family: Roboto;
}
.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-area: footer;
}

.imgpr-container {
    display: flex;
    justify-content: center;
    padding: 20px 5px;
}

.imgpr {
   width: 80%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   grid-area: imgpr;
}

#insecticida {
    padding: 4% 2% 2% 2%;
}

#fertilizante {
    background-color: rgb(214, 216, 218);
    padding: 4% 2% 2% 2%;
}

#absorbente {
    padding: 4% 2% 2% 2%;
}


#historia {
    background-color: rgb(214, 216, 218);
    padding: 4% 2% 2% 2%;
}

#humus {
    padding: 4% 2% 2% 2%;
}

#NPK {
    background-color: rgb(214, 216, 218);
    padding: 4% 2% 2% 2%;
}

#bioestimulante {
    padding: 4% 2% 2% 2%;
}

#enraizante {
    background-color: rgb(214, 216, 218);
    padding: 4% 2% 2% 2%;
}

#activesoil {
    padding: 4% 2% 2% 2%;
}
