#carrito-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(214, 216, 218);
}

.cards-container {
    margin: 10px;
    border-radius: 10px;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(79, 79, 79);
}



.card-values {
    display: flex;
    align-items: center;
    padding: 10px;
}

.boton {
    padding: 8px;
    margin: 20px;
    background-color: rgb(119, 190, 131);
    border-radius: 5px;
}

.cards-carrito {
    display: flex;
    justify-content: end;
    width: 30%;
}



