@mixin flexbox ($display, $jc) {
    display: $display;
    justify-content: $jc;
}

.footer-container {
    color: white;
    background-color: rgb(48, 48, 48);
    padding: 2%;
    font-family: Roboto;
    @include flexbox(flex, center);
    
    .footer {
        width: 100%;
        @include flexbox(flex, space-between);
        grid-area: footer;
    }
}